<div [@openClose]="isOpen ? 'open' : 'closed'" class="filter-component">
    <div [@showHideElements]="isOpen ? 'show' : 'hide'">
        <input type="text" class="form-control filter-input" [(ngModel)]="text">
        <p>{{"FILTER.TITLE" | translate}}</p>
        <select class="form-control filter-input" [(ngModel)]="selected">
            <option *ngFor="let status of statuses" [ngValue]=status>{{"STATUS." + status | translate}}
            </option>
        </select>
        <p>{{"FILTER.STATUS" | translate}}</p>
        <button class="btn btn-secondary find-button"
                (click)="filter(text, selected)">{{"FILTER.BUTTON_FIND" | translate}}
        </button>
    </div>
    <span [@rotateIcon]="isOpen ? 'back' : 'forward'" class="close-side-nav-button" (click)="toggle()"><i
            class="material-icons md-36">arrow_back</i>
    </span>
</div>



