<div [ngClass]="{'side-nav-closed' : !isOpen, 'side-nav-opened' : isOpen}" class="filter-component">
    <div [ngClass]="{'side-nav-form-closed' : !isOpen, 'side-nav-form-open' : isOpen}">
        <input type="text" class="form-control filter-input" [(ngModel)]="text">
        <p>{{"FILTER.TITLE" | translate}}</p>
        <select class="form-control filter-input" [(ngModel)]="selected">
            <option *ngFor="let status of statuses"
                    [ngValue]=status>{{"STATUS." + status | translate}}
            </option>
        </select>
        <p>{{"FILTER.STATUS" | translate}}</p>
        <button class="btn btn-secondary find-button"
                (click)="filter(text, selected)">{{"FILTER.BUTTON_FIND" | translate}}
        </button>
    </div>
    <span class="close-side-nav-button" (click)="toggle()">
        <i [ngClass]="{'side-nav-button-forward' : !isOpen, 'side-nav-button-back' : isOpen}"
           class="material-icons md-36">arrow_back</i>
    </span>
</div>



