<div [ngClass]="{'side-nav-closed' : !isOpen, 'side-nav-opened' : isOpen}" class="filter-component">
    <form [formGroup]="filterForm" novalidate autocomplete="off"
          [ngClass]="{'side-nav-form-closed' : !isOpen, 'side-nav-form-open' : isOpen}">
        <input placement="bottom" [ngbTooltip]="'FILTER_TOOLTIP' | translate" [disableTooltip]="filterForm.valid"
               container="body" formControlName="filterString" type="text" class="form-control filter-input">
        <p>{{"FILTER.TITLE" | translate}}</p>
        <select formControlName="statusSelect" class="form-control filter-input">
            <option *ngFor="let status of statuses"
                    [value]=status>{{"STATUS." + status | translate}}
            </option>
        </select>
        <p>{{"FILTER.STATUS" | translate}}</p>
        <button class="btn btn-secondary reset-button"
                (click)="resetFilter()">{{"FILTER.BUTTON_RESET" | translate}}
        </button>
        <button [disabled]="filterForm.invalid" class="btn btn-secondary find-button"
                (click)="filter()">{{"FILTER.BUTTON_FIND" | translate}}
        </button>
    </form>
    <div class="close-side-nav-button" (click)="toggle()">
        <i [ngClass]="{'side-nav-button-forward' : !isOpen, 'side-nav-button-back' : isOpen}"
           class="material-icons md-36">arrow_back</i>
    </div>
</div>



