<div>
    <div class="interval-picker">
        <date-picker (onSelectDate)="selectFirstDate($event)" [disabledDates]="secondDisabledDates"
                     [initialDate]="firstDate"></date-picker>
    </div>

    <div class="interval-picker">
        <date-picker (onSelectDate)="selectSecondDate($event)" [disabledDates]="firstDisabledDates"
                     [initialDate]="secondDate"></date-picker>
    </div>
</div>

<div>
    <button class="btn btn-outline-secondary" (click)="reset()">{{"FILTER.BUTTON_RESET" | translate}}</button>
</div>
