<div class="grid-row">
    <strings-grid-column>
        <div *ngFor="let item of items">
            <status class="status" [status]=item.status></status>
        </div>
    </strings-grid-column>

    <strings-grid-column [options]="columnsOptions[columns.TRANSFORMED]">
        <div class="content transformed-column" *ngFor="let item of items">
            {{item.transformedText | translate}}
            <span class="border-container">
                    <span class="grid-border"></span>
                </span>
        </div>
    </strings-grid-column>

    <strings-grid-column [options]="columnsOptions[columns.ORIGIN]">
        <div class="content origin-column" *ngFor="let item of items">
            {{item.originText}}
            <span class="border-container">
                    <span class="grid-border"></span>
                </span>
        </div>
    </strings-grid-column>

    <strings-grid-column [options]="columnsOptions[columns.DATE]">
        <div class="content date-column" *ngFor="let item of items">
            {{item.parsedDate}}
        </div>
    </strings-grid-column>
</div>