<div class="month-changer">
    <span class="icon-left" (click)="previousMonth()"><i class="material-icons md-22">keyboard_arrow_left</i></span>
    <span>{{monthName + ' ' + year}}</span>
    <span class="icon-right" (click)="nextMonth()"><i class="material-icons md-22">keyboard_arrow_right</i></span>
</div>

<div class="calendar">
    <div class="datepicker-element" *ngFor="let day of thisMonth;  trackBy:trackByFn"
         [ngStyle]="{ '-ms-grid-column': day.weekDay, 'grid-column': day.weekDay,
          '-ms-grid-row': day.weekOfMonth,  'grid-row':  day.weekOfMonth, 'background-color': day.color}"
         (click)="selectDate(day.date, $event)">
        {{day.date.getDate()}}
    </div>
</div>
