<div [formGroup]="timeForm">
    <div class="time-container">
        <i (click)="nextHour()" class="material-icons">expand_less</i>
        <input formControlName="hours" style="width: 100%">
        <i (click)="previousHour()" style="display: block" class="material-icons">expand_more</i>
    </div>
    <div class="time-container">
        <i (click)="nextMinute()" class="material-icons">expand_less</i>
        <input formControlName="minutes" style="width: 100%">
        <i (click)="previousMinute()" class="material-icons">expand_more</i>
    </div>
    <div class="time-container">
        <i (click)="nextSecond()" class="material-icons">expand_less</i>
        <input formControlName="seconds" style="width: 100%">
        <i (click)="previousSecond()" class="material-icons">expand_more</i>
    </div>
</div>