<ng-container *ngIf="column.sortable">
    <i *ngIf="column.dataFieldName  === currentSort.column" class="material-icons md-14 icon-left">{{icon}}</i>
</ng-container>
<div class="content" container="body" [ngbTooltip]="'GRID_HEADER.' + column.text | translate"
     *ngIf="column.text" placement="left" (mousedown)="sort(column)">
    {{'GRID_HEADER.' + column.text | translate}}
</div>
<div *ngIf="column.resizable" class="ui-column-resizer" (mousedown)="onMouseDown($event)">
    <div class="grid-border"></div>
</div>