
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    overflow: hidden;
}

ul {
    list-style-type: none;
    width: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 93vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

li:hover {
    background: #eee;
    cursor: pointer;
}

.string-add {
    position: absolute;
    left: 50%;
    width: 500px;
    transform: translate(-50%, 0);
}

.lang-select {
    margin: 5px;
    padding: 5px;
}

.form-control:focus {
    box-shadow: none !important;
}

.btn-outline-secondary:focus {
    box-shadow: none !important;
}

.btn-light:focus {
    box-shadow: none !important;
}

.status {
    width: 20px;
    height: 100%;
    float: left;
    margin-right: 15px;
}

.list-group-item {
    padding: 0;
}

.list-group-item > span {
    display: inline-block;
    text-align: left;
    margin-top: 13px;
    width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.string-list-button {
    margin: 5px;
    padding: 3px;
}

.string-list-button > * {
    margin-top: 5px;
}

.filter-component {
    position: relative;
    padding: 20px;
    height: 94vh;
    float: right;
    background-color: lightgrey;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.close-side-nav-button {
    position: absolute;
    margin: 5px;
    bottom: 5px;
    left: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.close-side-nav-button:hover {
    cursor: pointer;
}

.find-button {
    float: right;
}

.filter-component > * {
    margin-bottom: 10px;
}

.filter-component p {
    margin-left: 20px;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}




