
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    overflow: hidden;
    height: 100vh;
}

.string-add {
    position: absolute;
    left: 50%;
    top: 12px;
    width: 500px;
    transform: translate(-50%, 0);
}

input.ng-dirty.ng-invalid {
    border: solid red 1px;
}

input.ng-dirty.ng-valid {
    border: solid green 1px;
}

.lang-select {
    margin: 5px;
    padding: 5px;
}

.form-control:focus {
    box-shadow: none !important;
}

.btn-outline-secondary:focus {
    box-shadow: none !important;
}

.btn-light:focus {
    box-shadow: none !important;
}

/*Statuses component*/
.status {
    min-width: 22px;
    max-width: 22px;
    height: 50px;
    border-bottom: 1px solid #ddd;
}

.status-green {
    background-color: green;
}

.status-yellow {
    background-color: yellow;
}

.status-red {
    background-color: red;
}

/*Filter component*/
.filter-component {
    position: relative;
    padding: 20px;
    height: 94vh;
    float: right;
    background-color: lightgrey;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.close-side-nav-button {
    position: absolute;
    margin: 5px;
    bottom: 5px;
    left: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.close-side-nav-button:hover {
    cursor: pointer;
}

.find-button {
    float: right;
}

.reset-button {
    float: right;
    margin-left: 10px;
}

.filter-component > * {
    margin-bottom: 10px;
}

.filter-component p {
    margin-left: 20px;
}

.side-nav-button-back {
    transform: rotate(180deg);
    transition: transform 0.4s;
}

.side-nav-button-forward {
    transform: rotate(0deg);
    transition: transform 0.4s;
}

.side-nav-form-open {
    transition: opacity 0.3s;
    transition-delay: 0.2s;
    opacity: 1;
}

.side-nav-form-closed {
    transition: opacity 0.3s;
    opacity: 0;
}

.side-nav-opened {
    transition: width 0.5s;
    width: 400px
}

.side-nav-closed {
    transition: width 0.5s;
    width: 50px
}

/*String grid component*/
.grid-container {
    display: -ms-grid;
    display: grid;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    width: 818px;
    left: 50%;
    transform: translate(-50%, 0);
}

.hoverable-row:hover {
    background-color: #eee;
    cursor: pointer;
}

.grid-row {
    display: -ms-grid;
    display: grid;
}

.grid-row > div:nth-of-type(1) {
    -ms-grid-column: 1;
    grid-column: 1;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    min-height: 50px;
    max-height: 50px;
    min-width: 24px;
    max-width: 24px;
}

.grid-row > div:nth-of-type(2) {
    -ms-grid-column: 2;
    grid-column: 2;
    min-height: 50px;
    max-height: 50px;
    max-width: 800px;
    min-width: 110px;
    width: 280px;
}

.grid-row > div:nth-of-type(3) {
    -ms-grid-column: 3;
    grid-column: 3;
    min-height: 50px;
    max-height: 50px;
    max-width: 800px;
    min-width: 110px;
    width: 280px;
}

.grid-row > div:nth-of-type(4) {
    -ms-grid-column: 4;
    grid-column: 4;
    min-height: 50px;
    max-height: 50px;
    max-width: 800px;
    min-width: 110px;
    width: 216px;
    border-right: 1px solid #ddd;
}

strings-grid-cell:nth-of-type(1) {
    -ms-grid-column: 1;
    grid-column: 1;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    min-width: 24px;
    max-width: 24px;
    width: 24px;
}


strings-grid-cell:nth-of-type(2) {
    -ms-grid-column: 2;
    grid-column: 2;
    max-width: 800px;
    min-width: 110px;
    width: 280px;
}

strings-grid-cell:nth-of-type(3) {
    -ms-grid-column: 3;
    grid-column: 3;
    max-width: 800px;
    min-width: 110px;
    width: 280px;
}

strings-grid-cell:nth-of-type(4) {
    -ms-grid-column: 4;
    grid-column: 4;
    max-width: 800px;
    min-width: 110px;
    width: 216px;
    border-right: 1px solid #ddd;
}

.cont {
    height: 94vh;
    width: 800px;
}

.content {
    text-align: center;
    padding-right: 12px;
    padding-left: 8px;
    padding-top: 12px;
    height: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.header-content {
    text-align: center;
    padding-right: 12px;
    padding-left: 8px;
    padding-top: 12px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
}

.content-date {
    text-align: center;
}

.string-list-button {
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
}

.string-list-button > * {
    margin-top: 5px;
}

/*Icons sizes*/
.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-22 {
    font-size: 22px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.icon-right {
    float: left;
    padding-right: 8px;
}

.date-column {
}

.origin-column {
}

.transformed-column {
}

.ui-column-resizer {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 10px;
    cursor: col-resize;
}

.border-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 10px;
}

.grid-border {
    position: absolute;
    top: 0;
    left: 5px;
    height: 50px;
    width: 1px;
    border-right: 1px solid #ddd;
    pointer-events: none;
}

