
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    overflow: hidden;
}

.string-add {
    position: absolute;
    left: 50%;
    top: 12px;
    width: 500px;
    transform: translate(-50%, 0);
}

.lang-select {
    margin: 5px;
    padding: 5px;
}

.form-control:focus {
    box-shadow: none !important;
}

.btn-outline-secondary:focus {
    box-shadow: none !important;
}

.btn-light:focus {
    box-shadow: none !important;
}

/*String list component*/
ul {
    list-style-type: none;
    width: 700px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 93vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

li:hover {
    background: #eee;
    cursor: pointer;
}

.list-group-item {
    padding: 0;
    min-height: 55px;
    max-height: 55px;
}

.content {
    display: inline-block;
    float: left;
    margin-top: 13px;
    width: 380px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.date {
    display: inline-block;
    margin-top: 13px;
    margin-left: 13px;
    overflow: hidden;
}

.string-list-button {
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
}

.string-list-button > * {
    margin-top: 5px;
}

/*Icons sizes*/
.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-22 {
    font-size: 22px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

/*Statuses component*/
.status {
    width: 20px;
    height: 100%;
    float: left;
    margin-right: 15px;
}

.status-green {
    background-color: green;
}

.status-yellow {
    background-color: yellow;
}

.status-red {
    background-color: red;
}

/*Filter component*/
.filter-component {
    position: relative;
    padding: 20px;
    height: 94vh;
    float: right;
    background-color: lightgrey;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.close-side-nav-button {
    position: absolute;
    margin: 5px;
    bottom: 5px;
    left: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.close-side-nav-button:hover {
    cursor: pointer;
}

.find-button {
    float: right;
}

.reset-button {
    float: right;
    margin-left: 10px;
}

.filter-component > * {
    margin-bottom: 10px;
}

.filter-component p {
    margin-left: 20px;
}

.side-nav-button-back {
    transform: rotate(180deg);
    transition: transform 0.4s;
}

.side-nav-button-forward {
    transform: rotate(0deg);
    transition: transform 0.4s;
}

.side-nav-form-open {
    transition: opacity 0.3s;
    transition-delay: 0.2s;
    opacity: 1;
}

.side-nav-form-closed {
    transition: opacity 0.3s;
    opacity: 0;
}

.side-nav-opened {
    transition: width 0.5s;
    width: 400px
}

.side-nav-closed {
    transition: width 0.5s;
    width: 50px
}
