<grid-header-cell class="unselectable" [ngClass]="column.title" [column]="column"
                  *ngFor="let column of columns; let i = index" [index]="i">

    <ng-container *ngIf="column.sortable">
        <i *ngIf="column.dataFieldName  === currentSort.column" class="material-icons md-14 icon-left">{{icon}}</i>
    </ng-container>
    <div class="content" container="body" [ngbTooltip]="'GRID_HEADER.' + column.text | translate"
         *ngIf="column.text" placement="left" (mousedown)="sort(column)">
        {{'GRID_HEADER.' + column.text | translate}}
    </div>

</grid-header-cell>
