<div class="header-row">
    <header-grid-cell [column]="columns.STATUS">
        <div class="header-content"></div>
    </header-grid-cell>

    <header-grid-cell class="header-content transformed-column" (mousedown)="sort(sortParams.TRANSFORMED)"
                      [column]="columns.TRANSFORMED"
                      [id]="columns.TRANSFORMED">
        <i *ngIf="sortParams.TRANSFORMED  === currentSort.column" class="material-icons md-14 icon-right">{{icon}}</i>
        <span placement="left" [ngbTooltip]="'STRING_GRID_HEADER.TRANSFORMED_TEXT' | translate"
              container="body">{{'STRING_GRID_HEADER.TRANSFORMED_TEXT' | translate}}</span>
        <span class="ui-column-resizer" (mousedown)="onMouseDown($event)">
             <span class="grid-border"></span>
        </span>
    </header-grid-cell>

    <header-grid-cell class="header-content origin-column" (mousedown)="sort(sortParams.ORIGIN)"
                      [column]="columns.ORIGIN"
                      [id]="columns.ORIGIN">
        <i *ngIf="sortParams.ORIGIN  === currentSort.column" class="material-icons md-14 icon-right">{{icon}}</i>
        <span placement="left" [ngbTooltip]="'STRING_GRID_HEADER.ORIGIN_TEXT' | translate"
              container="body">{{'STRING_GRID_HEADER.ORIGIN_TEXT' | translate}}</span>
        <span class="ui-column-resizer" (mousedown)="onMouseDown($event)">
            <span class="grid-border"></span>
        </span>
    </header-grid-cell>

    <header-grid-cell class="header-content date-column" (mousedown)="sort(sortParams.DATE)" [id]="columns.DATE"
                      [column]="columns.DATE">
        <i *ngIf="sortParams.DATE  === currentSort.column" class="material-icons md-14 icon-right">{{icon}}</i>
        <span placement="left" [ngbTooltip]="'STRING_GRID_HEADER.DATE' | translate"
              container="body">{{'STRING_GRID_HEADER.DATE' | translate}}</span>
    </header-grid-cell>
</div>