<header-grid-cell class="unselectable" style="position: relative" [ngClass]="column.title"
                  *ngFor="let column of columns; let i = index" [index]="i"
                  [column]="column">

    <div (mousedown)="sort(column)" class="content"
         *ngIf="column.text" placement="left" [ngbTooltip]="'STRING_GRID_HEADER.' + column.text | translate"
         container="body">
        <ng-container *ngIf="column.sortable">
            <i *ngIf="column.dataFieldName  === currentSort.column" class="material-icons md-14 icon-right">{{icon}}</i>
        </ng-container>
        {{'STRING_GRID_HEADER.' + column.text | translate}}
    </div>
    <div *ngIf="column.resizable" class="ui-column-resizer" (mousedown)="onMouseDown($event, i)">
        <div class="grid-border"></div>
    </div>
</header-grid-cell>
