<div class="noselect" [formGroup]="timeForm">
    <div style="-ms-grid-column: 1" class="time-container">
        <i (click)="nextHour()" class="material-icons">expand_less</i>
        <input class="time-input form-control validate" formControlName="hours">
        <i (click)="previousHour()" class="material-icons">expand_more</i>
    </div>
    <div style="-ms-grid-column: 2">
        <span class="divider">:</span>
    </div>
    <div style="-ms-grid-column: 3" class="time-container">
        <i (click)="nextMinute()" class="material-icons">expand_less</i>
        <input class="time-input form-control validate" formControlName="minutes">
        <i (click)="previousMinute()" class="material-icons">expand_more</i>
    </div>
    <div style="-ms-grid-column: 4">
        <span class="divider">:</span>
    </div>
    <div style="-ms-grid-column: 5" class="time-container">
        <i (click)="nextSecond()" class="material-icons">expand_less</i>
        <input class="time-input form-control validate" formControlName="seconds">
        <i (click)="previousSecond()" class="material-icons">expand_more</i>
    </div>
</div>