<form *ngIf="column.filterable" [formGroup]="filterForm" novalidate autocomplete="off" class="form-content input-group">
    <input #container input-ellipsis
           (click)="openDatePicker($event)"
           (keypress)="enterPress($event)"
           [placeholder]="('FILTER.PLACEHOLDER' | translate) + ': ' + ('GRID_HEADER.' + column.title | translate)"
           formControlName="filter" type="text"
           placement="top" [ngbTooltip]="filterForm.value.filter" container="body"
           class="filter-input form-control">
    <div *ngIf="isDate()" (click)="openDatePicker($event)" class="input-group-append">
         <span class="input-group-text" style="height: 25px; padding: 0">
            <i class="material-icons md-22">date_range</i>
         </span>
    </div>
</form>
