<div *ngIf="column.filterable" [formGroup]="filterForm" novalidate autocomplete="off" class="form-content input-group">
    <input #container (click)="openDatePicker($event)"
           (keypress)="enterPress($event)"
           formControlName="filter" type="text"
           placement="top" [ngbTooltip]="filterForm.value.filter" container="body"
           class="filter-input form-control">
    <div *ngIf="isDate()" (click)="openDatePicker($event)" class="input-group-append">
         <span class="input-group-text date-picker-icon">
            <i class="material-icons md-22">date_range</i>
         </span>
    </div>
</div>
