<div class="grid-container">
    <div class="cont">
        <strings-grid-header (onSort)="sort($event)" (onResize)="resize($event)"></strings-grid-header>
        <div class="grid-row hoverable-row"
             *ngFor="let item of stringListItems | stringFilter : filterParams">
            <div>
                <status class="status" [status]=item.status></status>
            </div>
            <div class="content transformed-column" placement="left" container="body"
                 [ngbTooltip]="item.transformedText | translate"
                 [ngStyle]="{'width.px' : columnsWidth[columns.TRANSFORMED].toString()}">{{item.transformedText | translate}}
                <span class="border-container">
                    <span class="grid-border"></span>
                </span>
            </div>

            <div class="content origin-column" placement="left" [ngbTooltip]="item.originText | translate"
                 container="body"
                 [ngStyle]="{'width.px' : columnsWidth[columns.ORIGIN].toString()}">{{item.originText}}
                <span class="border-container">
                    <span class="grid-border"></span>
                </span>
            </div>

            <div class="content date-column" placement="left" [ngbTooltip]="item.parsedDate | translate"
                 container="body" [ngStyle]="{'width.px' : columnsWidth[columns.DATE].toString()}">{{item.parsedDate}}
            </div>
        </div>
    </div>
</div>